# Ignore everything
*

# Include everything inside these directories
!config/
!config/**

!mods/
!mods/**

!journeymap/
!journeymap/**

!overrides/
!overrides/**

!resourcepacks/
!resourcepacks/**

!shaderpacks/
!shaderpacks/**

# Include specific files
!manifest.json
!minecraftinstance.json
!servers.dat
