# Ignore everything
*

# Allow these directories and their contents to be included
!config/
!mods/
!journeymap/
!overrides/
!resourcepacks/
!shaderpacks/

# Allow these specific files
!manifest.json
!minecraftinstance.json
